.weapon-info-table {
    width: 50%;
    max-width: 400px;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    margin: 0 auto;
  }
  
  .weapon-info-table th,
  .weapon-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Permitir el desbordamiento de línea */
    max-width: 0;
  }
  
.td-weaponInfo{
  font-size: 1em;
}

.table-weaponInfo{
  width: 50%;
  margin: 20px auto;
}

/* WeaponInfo.css */

.skillsinfo {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 800px;
}

.skillsinfo:hover {
  background-color: #ddd;
}

.recommendedteam{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.recommended-pairing{
  display: flex;
}

.titlepairing{
  text-align: center;
}

.pairing-item{
  margin: 0 5px
}

.mini-tag{
  text-align: center;
}