.cita-textual{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.awaken{
    font-size: 1.7rem;
}
blockquote {
    margin: 0;
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-left: 4px solid #ccc;
    max-width: 600px;
    
  }
  
  blockquote p {
    margin: 0;
    font-size: 1em;
  }
  

blockquote footer {
    margin-top: 10px;
    text-align: right;
    font-style: italic;
    color: #666;
  }

.contenedor-personaje{
    max-width: 500px;
    margin: 0 auto
}

.titulo-principal-personaje {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-del-personaje{
    font-size: 3em;
    margin-top: 10px
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 600px) {
  blockquote {
      max-width: 100%;
  }

  .titulo-del-personaje {
      font-size: 2em;
  }

  .awaken{
    font-size: 1.5rem;
    width: 60%;
}
}