.cita-textual{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.awaken{
    font-size: 1.7rem;
}
blockquote {
    margin: 0;
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-left: 4px solid #ccc;
    max-width: 600px;
    
  }
  
  blockquote p {
    margin: 0;
    font-size: 1em;
  }
  

blockquote footer {
    margin-top: 10px;
    text-align: right;
    font-style: italic;
    color: #666;
  }

.contenedor-personaje{
    max-width: 500px;
    margin: 0 auto
}