.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-left: 40px;
  margin: 0 200px
}
  
  .image-item {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .image-item img {
    max-width: 200px;
    max-height: 300px;
  }

.container-characters{
  min-height: inherit;
  width: 100%;
  padding: 40px;
}

.titulo{
  display: flex;
  justify-content: center;

  
}

.image-item {
  margin: 10px;
}

.image-box {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}


.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente */
  color: white; /* Color del texto */
  padding: 10px;
}

.image-caption h2, .image-caption p {
  margin: 0;
}

/* Estilo predeterminado para .image-item y .image-caption */
.image-item {
  margin: 10px;
  transition: background-color 0.3s; /* Agrega una transición suave para el color de fondo */
}


/* Estilo de hover para .image-item */
.image-item:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo de hover para .image-caption */
.image-item:hover .image-caption {
  opacity: 1; /* Muestra la información al pasar el mouse */
}




/* END OF CARDS */

/* ImagesGrid.css */

/* Estilos específicos para las imágenes principales */
.main-image {
  width: 200px; /* Tamaño fijo para todas las imágenes principales */
  height: 200px; /* Tamaño fijo para todas las imágenes principales */
  margin-bottom: 30px;
  object-fit: cover; /* Para asegurarte de que las imágenes mantengan la relación de aspecto y se ajusten al tamaño especificado sin distorsión. */
}

.image-matriz{
  width: 200px; /* Tamaño fijo para todas las imágenes principales */
  height: 200px; /* Tamaño fijo para todas las imágenes principales */
  object-fit: cover; 
}

/* Estilos para las mini imágenes */
.mini-images {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

/* Estilos para las mini imágenes */
.mini-image {
  
  width: 30px; /* Tamaño de las mini imágenes */
  height: 30px; /* Tamaño de las mini imágenes */
}

/* Estilos para la caja de mini imágenes junto al título */
.title-and-mini {
  display: block;
  /* display: flex;
  justify-content: space-around; 
  align-items: center; */
}

/* Estilos para el título */
.title-and-mini h2 {
  margin: 0; /* Elimina el margen del título para ajustar el espaciado */
  padding-left: 10px;
  font-size: 20px;
}

/* Estilos para las mini imágenes */
.title-and-mini img.mini-image {
  width: 30px; /* Tamaño de las mini imágenes */
  height: 30px; /* Tamaño de las mini imágenes */ /* Espacio entre el título y las mini imágenes */
}

.matriz{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.simulacra-detail {
  font-size: 16px; /* Ajuste de tamaño de fuente para escritorio */
  line-height: 1.6; /* Aumento del espacio entre líneas */
  padding: 20px; /* Incremento del espaciado */
  text-align: center; /* Centrado del texto */
  max-width: 600px; /* Limitar el ancho del texto */
  margin: 0 auto; /* Centrar en el medio de la pantalla */
}



@media (max-width: 767px)  {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Tamaños más pequeños para columnas */
    grid-gap: 5px; /* Reducción del espacio entre las imágenes */
    margin: 0 10px; /* Márgenes más pequeños */
  }
  
  .image-item {
    width: 100%;
    text-align: center;
    padding: 5px; /* Reducción del espaciado */
  }
  
  .image-item img {
    max-width: 100px; /* Tamaño más pequeño para las imágenes */
    max-height: 150px; /* Tamaño más pequeño para las imágenes */
  }
  
  .container-characters {
    min-height: inherit;
    width: 100%;
    padding: 20px; /* Reducción del espaciado */
  }
  
  .titulo {
    display: flex;
    justify-content: center;
  }
  
  .image-item {
    margin: 5px; /* Reducción del espaciado */
  }
  
  .image-caption {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px; /* Reducción del espaciado */
  }
  
  .image-caption h2, .image-caption p {
    margin: 0;
  }
  
  .image-item {
    margin: 5px; /* Reducción del espaciado */
    transition: background-color 0.3s;
  }
  
  .image-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .image-item:hover .image-caption {
    opacity: 1;
  }
  
  .main-image {
    width: 100px; /* Tamaño más pequeño para las imágenes principales */
    height: 100px; /* Tamaño más pequeño para las imágenes principales */
    object-fit: cover;
    margin-bottom: 0px;
  }
  
  .mini-images {
    display: flex;
    justify-content: center;
    margin-bottom: 5px; /* Reducción del espacio entre las mini imágenes */
  }
  
  .mini-image {
    width: 20px; /* Tamaño más pequeño para las mini imágenes */
    height: 20px; /* Tamaño más pequeño para las mini imágenes */
  }
  
  .title-and-mini {
    display: block;
    /* display: flex; */
    /* justify-content: space-around;
    align-items: center; */
  }
  
  .title-and-mini h2 {
    margin: 0;
    padding-left: 5px; /* Reducción del espacio entre el título y las mini imágenes */
    font-size: 14px; /* Tamaño más pequeño para el título */
  }
  
  .title-and-mini img.mini-image {
    width: 20px; /* Tamaño más pequeño para las mini imágenes */
    height: 20px; /* Tamaño más pequeño para las mini imágenes */
  }

  .image-matriz{
    width: 100px; /* Tamaño más pequeño para las imágenes principales */
    height: 100px; /* Tamaño más pequeño para las imágenes principales */
    object-fit: cover;
    margin-bottom: 0px;
  }
  
  
  .simulacra-detail {
    font-size: 14px; /* Tamaño de fuente más pequeño para dispositivos móviles */
    line-height: 1.4; /* Aumenta el espacio entre líneas */
    padding: 10px; /* Reducción del espaciado */
    text-align: center;
  }
  
  
}