.titulo-matrice{
    text-align: center;
}

.matrice-src{
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: 200px; /* Asegura que la altura se ajuste proporcionalmente al ancho */
    display: block; /* Asegura que las propiedades de ancho y alto funcionen */
    margin: 0 auto; /* Centra horizontalmente la imagen */

}

.matriz-effect{
    display: grid;
    grid-gap: 10px;
    margin-left: 40px;
    margin: 0 400px;
}

.two-pieces, .matriz-effect{
    font-style: italic;
}

.container-4p{
    margin-top: 15px
}

.contenedordeversiones{
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .titulo-matrice {
        text-align: center;
        margin: 0 auto;
        padding: 10px; /* Espaciado para mayor legibilidad */
    }
    
    .matrice-src {
        max-width: 100%;
        height: auto; /* Ajusta la altura de la imagen proporcionalmente */
        display: block;
        margin: 0 auto;
    }
    
    .matriz-effect {
        display: block; /* Cambiado a bloque para dispositivos móviles */
        text-align: center; /* Centra los elementos */
        margin: 0 auto;
        padding: 10px;
    }
    
    .two-pieces,
    .matriz-effect {
        font-style: italic;
    }
    
    .container-4p {
        margin-top: 15px;
        padding: 10px; /* Espaciado adicional */
    }
    .titulo{
        margin-top: 3rem
    }
}
