.developer-notes {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
  }
  
/* DevNotes.css */
/* DevNotes.css */
.sectionDevs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.site-news {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.containerCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card-text, .card-title{
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

/* Asegúrate de agregar estas reglas al archivo de estilos (DevNotes.css) */
.card {
    position: relative;
    height: 200px;
  }
  
  .card-link {
    text-decoration: none; /* Quita la decoración de subrayado */
    color: inherit; /* Hereda el color del texto para mantener el color original del texto del enlace */
  }
  .last-updated {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    /* Puedes ajustar el margen según tus necesidades */
    color: #888; /* O el color que prefieras */
  }
  